// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple MacBook Air (M1, 2020)
 *
 * target-type: J313
 *
 * Copyright The Asahi Linux Contributors
 */

/dts-v1/;

#include "t8103.dtsi"
#include "t8103-jxxx.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	compatible = "apple,j313", "apple,t8103", "apple,arm-platform";
	model = "Apple MacBook Air (M1, 2020)";
};

&dcp {
	panel: panel {
		compatible = "apple,panel-j313", "apple,panel";
		width-mm = <286>;
		height-mm = <179>;
		apple,max-brightness = <420>;
	};
};

&wifi0 {
	brcm,board-type = "apple,shikoku";
};

&bluetooth0 {
	brcm,board-type = "apple,shikoku";
};

/*
 * Provide labels for the USB type C ports.
 */

&typec0 {
	label = "USB-C Left-back";
};

&typec1 {
	label = "USB-C Left-front";
};

&spi3 {
	status = "okay";

	hid-transport@0 {
		compatible = "apple,spi-hid-transport";
		reg = <0>;
		spi-max-frequency = <8000000>;
		/*
		 * cs-setup and cs-hold delays are derived from Apple's ADT
		 * Mac OS driver meta data secify 45 us for 'cs to clock' and
		 * 'clock to cs' delays.
		 */
		spi-cs-setup-delay-ns = <20000>;
		spi-cs-hold-delay-ns = <20000>;
		spi-cs-inactive-delay-ns = <250000>;
		spien-gpios = <&pinctrl_ap 195 0>;
		interrupts-extended = <&pinctrl_nub 13 IRQ_TYPE_LEVEL_LOW>;
	};
};

/*
 * Remove unused PCIe ports and disable the associated DARTs.
 */

&pcie0_dart_1 {
	status = "disabled";
};

&pcie0_dart_2 {
	status = "disabled";
};

/delete-node/ &port01;
/delete-node/ &port02;

&i2c1 {
	speaker_left: codec@31 {
		compatible = "ti,tas5770l", "ti,tas2770";
		reg = <0x31>;
		shutdown-gpios = <&pinctrl_ap 181 GPIO_ACTIVE_HIGH>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Left";
	};
};

&i2c3 {
	speaker_right: codec@34 {
		compatible = "ti,tas5770l", "ti,tas2770";
		reg = <0x34>;
		shutdown-gpios = <&pinctrl_ap 181 GPIO_ACTIVE_HIGH>;
		#sound-dai-cells = <0>;
		sound-name-prefix = "Right";
	};

	jack_codec: codec@48 {
		compatible = "cirrus,cs42l83";
		reg = <0x48>;
		reset-gpios = <&pinctrl_nub 11 GPIO_ACTIVE_HIGH>;
		interrupt-parent = <&pinctrl_ap>;
		interrupts = <183 IRQ_TYPE_LEVEL_LOW>;
		#sound-dai-cells = <0>;
		cirrus,ts-inv = <1>;
		sound-name-prefix = "Jack";
	};
};

/ {
	backlight: gpio-bl {
		compatible = "gpio-backlight";
		gpios = <&smc_gpio 18 GPIO_ACTIVE_HIGH>;
		default-on;
	};

	sound {
		compatible = "apple,j313-macaudio", "apple,macaudio";
		model = "MacBook Air J313";

		dai-link@0 {
			link-name = "Speakers";
			/*
			 * DANGER ZONE: You can blow your speakers!
			 *
			 * The drivers are not ready, and unless you are careful
			 * to attenuate the audio stream, you run the risk of
			 * blowing your speakers.
			 */
			status = "disabled";

			cpu {
				sound-dai = <&mca 0>, <&mca 1>;
			};
			codec {
				sound-dai = <&speaker_left>, <&speaker_right>;
			};
		};

		dai-link@1 {
			link-name = "Headphone Jack";

			cpu {
				sound-dai = <&mca 2>;
			};
			codec {
				sound-dai = <&jack_codec>;
			};
		};
	};
	led-controller {
		compatible = "pwm-leds";
		led-0 {
			pwms = <&fpwm1 0 40000>;
			pwm-names = "kbd-backlight";
			label = "kbd_backlight";
			function = LED_FUNCTION_KBD_BACKLIGHT;
			color = <LED_COLOR_ID_WHITE>;
			max-brightness = <255>;
			default-state = "keep";
		};
	};

	macsmc-hwmon {
    	compatible = "apple,macsmc-hwmon";
		pwr_keys = "PBLR","PDTR","PGDP","PHPB","PHPC","PHPM","PHPS","PKBC","PMVC","PO3R","PO5R","PP0b","PP0l","PP1b","PP2b","PP3b","PP3l","PP8b","PP7b","PP7l","PP9b","PP9l","PPBR","PPbb","PPeb","PR4b","PR4l","PR5b","PR6b","PR8l","PRab","PRbl","PRcb","PRcl","PRdb","PRkl","PSTR","PW3C","PZl0","PZlF","Pb0f";
		temp_keys = "TSCD","TB0T","TB1T","TB1T","TCHP","TCMb","TCMz","TH0T","TH0x","TSCD","TVS0","TVS1","TVSx","Tc0b","Th0x","Th1a","Th2a","Ts1a","Ts2a","TIOP","TMVR","TPMP","TPSP","TW0P","Tc0a","Tc0x","Tc0z","Tc7a","Tc7b","Tc7x","Tc7z","Tc8a","Tc8b","Tc8x","Tc8z","Tc9a","Tc9b","Tc9x","Tc9z","Tcaa","Tcab","Tcax","Tcaz","Te0a","Te0b","Te0x","Te0z","Te3a","Te3b","Te3x","Te3z","Th0a","Th0b","Th0z","Th1b","Th1x","Th1z","Th2b","Th2x","Th2z","Tp2a","Tp2b","Tp2x","Tp2z","Tp3a","Tp3b","Tp3x","Tp3z","Tp4a","Tp4b","Tp4x","Tp4z","Tp5a","Tp5b","Tp5x","Tp5z","Tp7a","Tp7b","Tp7x","Tp7z","Tp8a","Tp8b","Tp8x","Tp8z","Tp9a","Tp9b","Tp9x","Tp9z","Ts0a","Ts0b","Ts0x","Ts0z","Ts1b","Ts1x","Ts1z","Ts2b","Ts2x","Ts2z","TVA0","TVD0";
		current_keys = "IBLR","ID0R","IKBC","IMVC","IO3R","IO5R","IP0b","IP0l","IP1b","IP2b","IP3b","IP3l","IP7b","IP7l","IP8b","IP9b","IP9l","IPBR","IPbb","IPeb","IR4b","IR4l","IR5b","IR6b","IR8l","IRab","IRbl","IRcb","IRcl","IRdb","IRkl","IW3C","Ib0f","Ib4f","Ib8f";
		voltage_keys = "VD0R","VP0R","VP0b","VP0l","VP1b","VP2b","VP3b","VP3l","VP7b","VP7l","VP8b","VP9b","VP9l","VPbb","VPeb","VR4b","VR4l","VR5b","VR6b","VR8l","VRab","VRbl","VRcb","VRcl","VRdb","VRkl","Vb0f","Vb1f";
	};
};

&framebuffer0 {
	backlight = <&backlight>;
};

&fpwm1 {
	status = "okay";
};
